.NavLinks{
    display: flex;
    margin-left: auto;
    a{
        text-decoration: none;
        margin: 0 5px;
        background-color: #0a1a1a;
        color: #fff;
        padding: 10px 25px;
        border-radius: 10px;
    }
}